.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.header-primary nav{
  display: flex;

  background-color: rgb(12,119,192);
  color: white;

  background-color: rgb(2,106,167);
}
/* aside section containing boards and home */
.aside-btn:hover{
  background-color: #E4F0F6;
  padding: 4px;
}

.create-board-btn{
  background-color: white;
}
.small-board-box{
  background-color: skyblue;
}
.create-board-btn:hover {
  background-color: #808388;
  color: white;
}
/* add button for create board */
.css-htl0i8{
  color:"black"
}
.css-htl0i8:hover{
  color: "black";
  background-color: transparent;
}



.special-btn{
  background-color: #6D8EA2 ;
}
.css-gmuwbf{
  margin-top:10px
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
